<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <!-- App Favicon -->
    <link rel="shortcut icon" href="assets/images/favicon.ico">

    <!-- App title -->
    <title>Hesapci v1.0</title>

    <!-- Switchery css -->
    <link href="assets/plugins/switchery/switchery.min.css" rel="stylesheet"/>

    <!-- App CSS -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shiv and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]> <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script> <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script> <![endif]-->
    <!-- Modernizr js -->
    <script src="assets/js/modernizr.min.js"></script>

  </head>

  <body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

      <!-- Top Bar Start -->
      <div class="topbar">

        <!-- LOGO -->
        <div class="topbar-left">
          <a href="javascript:void(0);" class="logo">
            <i class="zmdi zmdi-group-work icon-c-logo"></i>
            <span>Hesapci v1.0</span>
          </a>
        </div>

        <nav class="navbar navbar-custom">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <button class="button-menu-mobile open-left waves-light waves-effect">
                <i class="zmdi zmdi-menu"></i>
              </button>
            </li>
          </ul>

          <ul class="nav navbar-nav pull-right">
            <li class="nav-item dropdown notification-list">
              <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <i class="zmdi zmdi-notifications-none noti-icon"></i>
                <span class="noti-icon-badge"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-lg" aria-labelledby="Preview">
                <!-- item-->
                <div class="dropdown-item noti-title">
                  <h5>
                    <small>
                      <span class="label label-danger pull-xs-right">0</span>Uyarılar</small>
                  </h5>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <p class="notify-details">Henüz uyarı yok!
                  </p>
                </a>

                <!-- All-->
                <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                  Tüm Uyarılar
                </a>

              </div>
            </li>

            <li class="nav-item dropdown notification-list">
              <a class="nav-link dropdown-toggle arrow-none waves-light waves-effect" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <i class="zmdi zmdi-email noti-icon"></i>
                <span class="noti-icon-badge"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-arrow dropdown-arrow-success dropdown-lg" aria-labelledby="Preview">
                <!-- item-->
                <div class="dropdown-item noti-title bg-success">
                  <h5>
                    <small>
                      <span class="label label-danger pull-xs-right">0</span>Mesajlar</small>
                  </h5>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <p class="notify-details">
                    <b>Henüz mesaj yok!</b>
                  </p>
                </a>

                <!-- All-->
                <a href="javascript:void(0);" class="dropdown-item notify-item notify-all">
                  Tüm Mesajlar
                </a>

              </div>
            </li>

            <li class="nav-item dropdown notification-list">
              <a class="nav-link dropdown-toggle arrow-none waves-effect waves-light nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                <img src="assets/images/users/user.png" alt="user" class="img-circle">
              </a>
              <div class="dropdown-menu dropdown-menu-right dropdown-arrow profile-dropdown " aria-labelledby="Preview">

                <!-- item-->
                <div class="dropdown-item noti-title">
                  <h5 class="text-overflow">
                    <small>Merhaba ! John</small>
                  </h5>
                </div>

                <!-- item-->
                <a href="javascript:void(0);" class="dropdown-item notify-item">
                  <i class="zmdi zmdi-settings"></i>
                  <span>Yönetim</span>
                </a>

                <!-- item-->
                <a href="/login" class="dropdown-item notify-item">
                  <i class="zmdi zmdi-power"></i>
                  <span>Çıkış</span>
                </a>

              </div>
            </li>

          </ul>

        </nav>

      </div>
      <!-- Top Bar End -->

      <!-- ========== Left Sidebar Start ========== -->
      <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">

          <!--- Sidemenu -->
          <div id="sidebar-menu">
            <ul>
              <li class="text-muted menu-title">Navigasyon</li>

              <li class="has_sub">
                <a href="index.html" class="waves-effect">
                  <i class="zmdi zmdi-view-dashboard"></i>
                  <span>
                    Gösterge Paneli
                  </span>
                </a>
              </li>

              <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect">
                  <i class="zmdi zmdi-collection-text"></i>
                  <span>
                    Fatura/İrsaliye
                  </span>
                  <span class="menu-arrow"></span>
                </a>
                <ul class="list-unstyled">
                  <li>
                    <a href="ui-buttons.html">Fatura Girişi</a>
                  </li>
                  <li>
                    <a href="ui-cards.html">Fatura Rapor</a>
                  </li>
                  <li>
                    <a href="ui-dropdowns.html">İrsaliye Girişi</a>
                  </li>
                  <li>
                    <a href="ui-checkbox-radio.html">İrsaliye Rapor</a>
                  </li>
                  <li>
                    <a href="ui-navs.html">Cari Girişi</a>
                  </li>
                  <li>
                    <a href="ui-progress.html">Cari Rapor</a>
                  </li>
                </ul>
              </li>

              <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect">
                  <i class="zmdi zmdi-album"></i>
                  <span>
                    Tahsilat/Masraf
                  </span>
                  <span class="menu-arrow"></span>
                </a>
                <ul class="list-unstyled">
                  <li>
                    <a href="components-grid.html">Tahsilat Girişi</a>
                  </li>
                  <li>
                    <a href="components-range-sliders.html">Tahsilat Rapor</a>
                  </li>
                  <li>
                    <a href="components-sweet-alert.html">Masraf Girişi</a>
                  </li>
                  <li>
                    <a href="components-ratings.html">Masraf Rapor</a>
                  </li>
                </ul>
              </li>

              <li class="has_sub">
                <a href="javascript:void(0);" class="waves-effect">
                  <i class="zmdi zmdi-settings"></i>
                  <span>
                    Yönetim
                  </span>
                  <span class="menu-arrow"></span>
                </a>
                <ul class="list-unstyled">
                  <li>
                    <a href="widgets-tiles.html">Bilgi Gözlem/Güncelleme</a>
                  </li>
                  <li>
                    <a href="widgets-charts.html">Yetkilendirme</a>
                  </li>
                  <li>
                    <a href="widgets-charts.html">Ayarlar</a>
                  </li>
                </ul>
              </li>

              <li class="has_sub">
                <a href="/login" class="waves-effect"><i class="zmdi zmdi-power"></i><span> Çıkış </span> </a>
              </li>

            </ul>
            <div class="clearfix"></div>
          </div>
          <!-- Sidebar -->
          <div class="clearfix"></div>

        </div>

      </div>
      <!-- Left Sidebar End -->

      <!-- ============================================================== -->
      <!-- Start right Content here -->
      <!-- ============================================================== -->
      <div class="content-page">
        <!-- Start content -->
        <div class="content">
          <div class="container">

            <div class="row">
              <div class="col-xs-12">
                <div class="page-title-box">
                  <h4 class="page-title">Starter Page</h4>
                  <ol class="breadcrumb p-0">
                    <li>
                      <a href="#">Uplon</a>
                    </li>
                    <li>
                      <a href="#">Pages</a>
                    </li>
                    <li class="active">
                      Starter Page
                    </li>
                  </ol>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
            <!-- end row -->

            {{#each facts}}
            <li>{{id}}/{{text}}</li>
            {{/each}}

          </div>
          <!-- container -->

        </div>
        <!-- content -->

      </div>
      <!-- End content-page -->

      <!-- ============================================================== -->
      <!-- End Right content here -->
      <!-- ============================================================== -->

      <footer class="footer text-right">
        2017 © Hesapci.
      </footer>

    </div>
    <!-- END wrapper -->

    <script>
      var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/tether.min.js"></script>
    <!-- Tether for Bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/detect.js"></script>
    <script src="assets/js/fastclick.js"></script>
    <script src="assets/js/jquery.blockUI.js"></script>
    <script src="assets/js/waves.js"></script>
    <script src="assets/js/jquery.nicescroll.js"></script>
    <script src="assets/js/jquery.scrollTo.min.js"></script>
    <script src="assets/js/jquery.slimscroll.js"></script>
    <script src="assets/plugins/switchery/switchery.min.js"></script>

    <!-- App js -->
    <script src="assets/js/jquery.core.js"></script>
    <script src="assets/js/jquery.app.js"></script>

  </body>
</html>
