<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>true facts.</title>

        <ul>
            {{#each facts}}
            <li>{{kullanici}}/{{sifre}}</li>
            {{/each}}
        </ul>

    </head>
    <body>

    </body>
</html>